<!doctype html>
<html>
<head>
  <%- include ("../../partials/head.ejs") %>
</head>

<body class="reservation-confirm page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section>
      <h2 class="is-center">予約確認</h2>
      <div class="form-panel l-container is-md">
        <dl>
          <dt>会員ID</dt>
          <dd><%=Info[0].miraikuid%></dd>
        </dl>
        <dl>
          <dt>ステータス</dt>
          <dd><%=Info[0].status%></dd>
        </dl>
        <dl>
          <dt>児童名</dt>
          <dd><%=Info[0].name%></dd>
        </dl>
        <dl>
          <dt>年齢</dt>
          <dd><%=Info[0].age%></dd>
        </dl>
        <dl>
          <dt>病名</dt>
          <dd>
            <%=Info[0].disease%>
          </dd>
        </dl>
        <dl>
          <dt>利用日</dt>
          <dd><%=Info[0].rsvdate%></dd>
        </dl>
        <dl>
          <dt>利用時間</dt>
          <dd><%=Info[0].intime%>-<%=Info[0].outtime%></dd>
        </dl>
        <dl>
          <dt>利用園</dt>
          <dd><%=Info[0].nursery%></dd>
        </dl>
        <dl>
          <dt>保護者名</dt>
          <dd><%=Info[0].parent_name%></dd>
        </dl>
        <dl>
          <dt>連絡先</dt>
          <dd><%=Info[0].parent_tel%></dd>
        </dl>
        <dl>
          <dt>兄妹利用の有無</dt>
          <dd><%=Info[0].brothers%></dd>
        </dl>
        <dl>
          <dt>食事の種類</dt>
          <dd><%=Info[0].meal%></dd>
        </dl>
        <dl>
          <dt>食事の追加事項</dt>
          <dd><%=Info[0].meal_details%></dd>
        </dl>
        <dl>
          <dt>熱性けいれん</dt>
          <dd><%=Info[0].cramps%></dd>
        </dl>
        <dl>
          <dt>アレルギー</dt>
          <dd><%=Info[0].allergy%></dd>
        </dl>
      </div>
      <div class="btns">
        <button class="btn-l is-border" onclick="location.href='/reservation/'">戻る</button>
        <button class="btn-l" onclick="location.href='/reservation/entry/'">編集</button>
      </div>
    </section>
  </main>

  <%- include ("../../partials/footer.ejs") %>

</body>
</html>
