<!doctype html>
<html>
<head>

  <%- include ("../../partials/head.ejs") %>
</head>

<body class="reservation-entry page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section>
      <h2 class="is-center">予約確認</h2>
      <form action="javascript:void(0);" id="rsvInfo">
        <div class="form-panel is-entry l-container is-md">
          <input type="hidden" name="rsvid" value="<%=Info[0].rsvid%>">
          <dl>
            <dt>会員ID</dt>
            <dd><%=Info[0].miraikuid%></dd>
          </dl>
          <dl>
            <dt>ステータス</dt>
            <dd>
              <select class="is-sm" name="status">
                <option value="Reserved" <% if (Info[0].status == '予約確定') { %> checked<% } %>>予約確定</option>
                <option value="Rejected" <% if (Info[0].status == '対応不可') { %> checked<% } %>>対応不可</option>
                <option value="Waitng" <% if (Info[0].status == 'キャンセル待ち') { %> checked<% } %>>キャンセル待ち</option>
              </select>
            </dd>
          </dl>
          <dl>
            <dt>児童名</dt>
            <dd><%=Info[0].name%></dd>
          </dl>
          <dl>
            <dt>年齢</dt>
            <dd><%=Info[0].age%></dd>
          </dl>
          <dl>
            <dt>病名</dt>
            <dd>
              <select class="is-md" name="disease">
                <% for (var i = 0; i < Info[0].disease_list.length; i++) { %>
                  <option value="<%=Info[0].disease_list[i].uniqueid%>" <% if (Info[0].disease==Info[0].disease_list[i].name) { %>selected<% } %>><%=Info[0].disease_list[i].name%></option>
                <% } %>
              </select><br>
              <!--select class="is-md" name="">
                <option value="">選択してください</option>
                <option value="">急性上気道炎</option>
                <option value="">喘息</option>
              </select><br>
              <select class="is-md" name="">
                <option value="">選択してください</option>
                <option value="">急性上気道炎</option>
                <option value="">喘息</option>
              </select-->
            </dd>
          </dl>
          <!--dl>
            <dt>利用日</dt>
            <dd>
              <select class="is-md" name="">
                <option value="">2021/11/1(月)</option>
                <option value="">2021/11/2(火)</option>
                <option value="">2021/11/3(水)</option>
              </select>
            </dd>
          </dl-->
          <dl>
            <dt>利用時間</dt>
            <dd>
              <select class="time is-select-ss" name="intime_hour">
                <% for (var i = 8; i < 24; i++) { %>
                  <option value="<%=i%>" <% if (Number(Info[0].intime_hour)==i) { %>selected<% } %>><%=( '00' + i ).slice( -2 )%></option>
                <% } %>
              </select>
              :
              <select class="time is-select-ss" name="intime_mins">
                <% for (var i = 0; i <= 59; i++) { %>
                  <option value="<%=i%>" <% if (Number(Info[0].intime_mins)==i) { %>selected<% } %>><%=( '00' + i ).slice( -2 )%></option>
                <% } %>
              </select>
              -
              <select class="time is-select-ss" name="outtime_hour">
                <% for (var i = 8; i < 24; i++) { %>
                  <option value="<%=i%>" <% if (Number(Info[0].outtime_hour)==i) { %>selected<% } %>><%=( '00' + i ).slice( -2 )%></option>
                <% } %>
              </select>
              :
              <select class="time is-select-ss" name="outtime_mins">
                <% for (var i = 0; i <= 59; i++) { %>
                  <option value="<%=i%>" <% if (Number(Info[0].outtime_mins)==i) { %>selected<% } %>><%=( '00' + i ).slice( -2 )%></option>
                <% } %>
              </select>
            </dd>
          </dl>
          <dl>
            <dt>利用園</dt>
            <dd>
              <select name="nursery" class="is-md">
                <% for (var n = 0; n < Info[0].nursery_list.length; n++) { %>
                  <option value="<%=Info[0].nursery_list[n].id%>"><%=Info[0].nursery_list[n].name%></option>
                <% } %>
              </select>
            </dd>
          </dl>
          <dl>
            <dt>保護者名</dt>
            <dd><input type="text" class="is-md" value="<%=Info[0].parent_name%>" name="parent_name" required/></dd>
          </dl>
          <dl>
            <dt>連絡先</dt>
            <dd><input type="text" class="is-md" value="<%=Info[0].parent_tel%>" name="parent_tel" required /></dd>
          </dl>
          <dl>
            <dt>兄妹利用の有無</dt>
            <dd><%=Info[0].brothers%>
            </dd>
          </dl>
          <dl>
            <dt>食事の種類</dt>
            <dd>
              <select class="is-sm" name="meal">
                <% for (var i = 0; i < Info[0].meal_list.length; i++) { %>
                  <option value="<%=Info[0].meal_list[i].id%>" <% if (Info[0].meal==Info[0].meal_list[i].name) { %>selected<% } %>><%=Info[0].meal_list[i].name%></option>
                <% } %>
              </select>
            </dd>
          </dl>
          <dl>
            <dt>食事の追加事項</dt>
            <dd>
              <!--select name="">
                <option value="">おなかに優しい食事（おう吐・下痢）</option>
              </select-->
              <input type="text" class="is-md" value="<%=Info[0].meal_details%>" name="meal_details"  required/>
            </dd>
          </dl>
          <dl>
            <dt>熱性けいれん</dt>
            <dd><input type="text" value="<%=Info[0].cramps%>" required name="cramps"/></dd>
          </dl>
          <dl>
            <dt>アレルギー</dt>
            <dd><% if (Info[0].allergy_bool == true) { %> 有り<% } %><% if (Info[0].allergy_bool == false) { %> 無し<% } %></dd>
            <dd><input type="text" value="<%=Info[0].allergy%>" name="allergy_details" required/></dd>
          </dl>
        </div>
        <div class="btns">
          <button class="btn-l is-border" onclick="location.href='/reservation/confirm/<%=Info[0].rsvid%>?nursery=<%=Info[0].prev%>'" type="button">戻る</button>
          <button type="submit" class="btn-l btn_update_reservation">登録</button>
        </div>
      </form>
    </section>
  </main>

  <%- include ("../../partials/footer.ejs") %>
</body>
</html>
