<!doctype html>
<html>
<head>
  <%- include ("../../partials/head.ejs") %>
</head>

<body class="calendar page">
  <main class="l-main">

    <section class="calendar l-container">
      <h1>
        <img src="/img/top-logo.svg"><br>
        みらいく病児予約システム
      </h1>
      <% for (var i = 0; i < calendarData.length; i++) { %>
        <section>
          <h2><%=calendarData[i].name%></h2>
          <div class="calendar-status">
            <div class="row1">
              <table>
                <tbody>
                  <tr>
                    <th>
                      <%=formattedWeek[0].day1%>
                    </th>
                    <th>
                      <%=formattedWeek[0].day2%>
                    </th>
                    <th>
                      <%=formattedWeek[0].day3%>
                    </th>
                    <th>
                      <%=formattedWeek[0].day4%>
                    </th>
                  </tr>
                  <tr>
                    <td><%=calendarData[i].day1%></td>
                    <td><%=calendarData[i].day2%></td>
                    <td><%=calendarData[i].day3%></td>
                    <td><%=calendarData[i].day4%></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row2">
              <table>
                <tbody>
                  <tr>
                    <th>
                      <%=formattedWeek[0].day5%>
                    </th>
                    <th>
                      <%=formattedWeek[0].day6%>
                    </th>
                    <th>
                      <%=formattedWeek[0].day7%>
                    </th>
                </tr>
                  <tr>
                    <td><%=calendarData[i].day5%></td>
                    <td><%=calendarData[i].day6%></td>
                    <td><%=calendarData[i].day7%></td>
                  </tr>
                </tbody>
              </table>
              <ul>
                <li>○:予約可</li>
                <li>×:予約不可</li>
                <li>休:休園日</li>
              </ul>
            <div>
          </div>
        </section>
      <% } %>
    </section>
  </main>
  <%- include ("../../partials/footer.ejs") %>
</body>
</html>
