<!doctype html>
<html>
<head>
  <%- include ("../../partials/head.ejs") %>
</head>

<body class="calendar page">
  <main class="l-main">

    <section class="calendar l-container">
      <h1>
        <img src="/img/top-logo.svg"><br>
        みらいく病児予約システム
      </h1>
      <% for (var i = 0; i < calendarData.length; i++) { %>
        <section>
          <h2><%=calendarData[i].name%></h2>
          <div class="calendar-status">
            <div class="row1">
              <table>
                <tbody>
                  <tr>
                    <th>
                      11/1<br>(火)
                    </th>
                    <th>
                      11/2<br>(水)
                    </th>
                    <th>
                      11/3<br>(木)
                    </th>
                    <th>
                      11/4<br>(金)
                    </th>
                  </tr>
                  <tr>
                    <td><%=calendarData[i].today%></td>
                    <td><%=calendarData[i].tomorrow%></td>
                    <td><%=calendarData[i].dayaftertomorrow%></td>
                    <td>○</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row2">
              <table>
                <tbody>
                  <tr>
                    <th>
                      11/5<br>(火)
                    </th>
                    <th>
                      11/6<br>(水)
                    </th>
                    <th>
                      11/7<br>(木)
                    </th>
                </tr>
                  <tr>
                    <td>○</td>
                    <td>×</td>
                    <td>×</td>
                  </tr>
                </tbody>
              </table>
              <ul>
                <li>○:予約可</li>
                <li>×:予約不可</li>
              </ul>
            <div>
          </div>
        </section>
      <% } %>
    </section>
  </main>
  <%- include ("../../partials/footer.ejs") %>
</body>
</html>
