<!doctype html>
<html>
<head>

  <%- include ("../../partials/head.ejs") %>
</head>

<body class="member-entry page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section>
      <h2 class="is-center">会員編集</h2>
      <form action="javascript:void(0);" id="memberInfo" method="post">
        <div class="form-panel is-entry l-container is-md">
          <dl>
            <dt>会員ID</dt>
            <dd><input type="text" class="is-sm" placeholder="000000" value="<%=Member[0].miraikuid%>" name="miraikuid" required></dd>
          </dl>
          <!--dl>
            <dt>LINE識別番号</dt>
            <dd>
              <input type="text" class="is-md" placeholder="samplelineid" value="testhanako2021">
              <span>半角英数で入力してください。</span>
          </dd>
          </dl-->
          <dl>
            <dt>児童名</dt>
            <dd>
              <input type="text" class="is-md" placeholder="ニシザワミライ" value="<%=Member[0].name%>" name="name" required>
              <span>全角カタカナで入力してください</span>
            </dd>
          </dl>
          <dl>
            <dt>生年月日</dt>
            <dd>
              <input type="text" class="is-text-ss" placeholder="2022" value="<%=Member[0].bYear%>" name="year" required>
              年
              <select class="is-select-ss" name="month">月
                <% for (var i = 0; i < 12; i++) { %>
                  <option value="<%=i+1%>" <% if (Number(Member[0].bMonth)==(i+1)) { %>selected<% } %>><%=i+1%></option>
                <% } %>
              </select>
              月
              <select class="is-select-ss" name="day">
                <% for (var i = 0; i < 31; i++) { %>
                  <option value="<%=i+1%>" <% if (Number(Member[0].bDay)==(i+1)) { %>selected<% } %>><%=i+1%></option>
                <% } %>
              </select>
              日
            </dd>
          </dl>
          <dl>
            <dt>アレルギー</dt>
            <dd><% if (Member[0].allergy) { %>
                  <input type="radio" id="allergy1" name="allergy" value="true" checked>
                  <label for="allergy1" class="radio">有り</label>
                  <input type="radio" id="allergy2" name="allergy" value="false">
                  <label for="allergy2" class="radio">無し</label>
                <% } else { %>
                  <input type="radio" id="allergy1" name="allergy" value="true">
                  <label for="allergy1" class="radio">有り</label>
                  <input type="radio" id="allergy2" name="allergy" value="false" checked>
                  <label for="allergy2" class="radio">無し</label>
                <% } %>
            </dd>
          </dl>
        </div>
        <div class="btns">
          <button class="btn-l is-border" onclick="location.href='/member/'">戻る</button>
          <button type="submit" class="btn-l btn_update_member">変更</button>
        </div>
      </form>
    </section>
  </main>

        
  <script>
    (function(){
  //標準エラーメッセージの変更
  $.extend($.validator.messages, {
    miraikuid: '*半角数字で入力してください',
    year: '*半角数字で入力してください',
    required: '*入力必須です'
  });

　//追加ルールの定義
  var methods = {
    phone: function(value, element){
      return this.optional(element) || /^\d{11}$|^\d{3}-\d{4}-\d{4}$/.test(value);
    }
  };

  //メソッドの追加
  $.each(methods, function(key) {
    $.validator.addMethod(key, this);
  });

  //入力項目の検証ルール定義
  var rules = {
    miraikuid: {required:true, number: true},
    year: {required:true, number: true},
    name: {required: true}
  };

  //入力項目ごとのエラーメッセージ定義
  var messages = {
    name: {
      required: "*名前を入力してください"
    },
    miraikuid: {
      required: "*IDを入力してください",
      number: "*半角数字で入力してください"
    },
    year: {
      required: "*半角数字を入力してください",
      number: "*半角数字で入力してください"
    }
  };

  $(function(){
    $('#memberInfo').validate({
      rules: rules,
      messages: messages,

      //エラーメッセージ出力箇所調整
      errorPlacement: function(error, element){
        error.css('color','#F16B6D');
        if (element.is(':radio')) {
          error.appendTo(element.parent());
        }else {
          error.insertAfter(element);
        }
      }
    });
  });

})();
  </script>
  <%- include ("../../partials/footer.ejs") %>

</body>
</html>
