<!doctype html>
<html>
<head>
<%- include ("../../partials/head.ejs", SubTitle) %>
  
</head>
<!--  新規登録ボタン見え消し、　全員表示ボタン、　編集ボタン-->
<body class="member page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section class="l-container">
      <h2>
        会員管理
        <!--button class="btn-s">新規登録</button-->
      </h2>
    </section>
    <section>

      <div class="tabs is-btn l-container">
        <!--input id="tab1" type="radio" name="tab_item" checked>
        <label class="tab_item" for="tab1">全員</label-->
      <% for (var i = 0; i < Year10.length; i++) { %>
        <input id="tab<%= i+1 %>" type="radio" name="tab_item" <% if (i == 0) { %> checked<% } %>>
        <label class="tab_item" for="tab<%= i+1 %>"><%= Year10[i].year %>年度</label>
      <% } %>

        <!--div class="tab_content" id="tab1_content">
          <div class="tab_content_description">
            <section>
              <div>
                <h3>全員</h3>
                <div class="operation"-->
                  <!--button class="btn-s is-square is-red">削除</button-->
                  <!--input type="text" class="is-sm" placeholder="名前で検索"-->
                  <!--a href="https://docs.google.com/spreadsheets/d/1eRhkmnmfrPMJXlfbvIONfu_7AYHwt024JP_qCCbxGbE/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn-s is-square is-yellow">詳細<span>ドキュメントに移動</span><img src="/img/icon-jump.svg"></a>
                </div>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th-->
                      <!--th>LINE識別番号</th-->
                      <!--th>児童氏名</th>
                      <th>生年月日</th>
                      <th>年齢</th>
                      <th>アレルギー</th>
                      <th>&nbsp;</th>
                    </tr-->
                    <%# for (var i = 0; i < Members.length; i++) { %>
                      <!--tr data-href="<%# = `/member/entry/${Members[i].memberid}` %>"-->
                        <!--td>
                          <input type="checkbox" id="check1" name="<%# =`${Members[i].memberid}`%>">
                          <label for="check1" class="checkbox"></label>
                        </td-->
                        <!--td>&nbsp;</td>
                        <td><%# =Members[i].miraikuid%></td>
                        <td><%# =Members[i].name%></td>
                        <td><%# =Members[i].birthday%></td>
                        <td><%# =Members[i].age%></td>
                        <td><%# =Members[i].allergy%></td>
                        <td><button type="button" class="is-red btn_disable_member" value="<%# =`${Members[i].memberid}_${Members[i].name}`%>"> 削除 </button></td>
                      </tr-->
                    <%# } %>
                  <!--/table>
                </div>
              </div>
            </section>
          </div>
        </div--> <!-- all-->
      <% for (var i = 0; i < Year10.length; i++) { %>
        <div class="tab_content" id="tab<%= i+1 %>_content">
          <div class="tab_content_description">
            <section>
              <div>
                <h3><%= Year10[i].year %>年度</h3>
                <div class="operation">
                  <!--button class="btn-s is-square is-red">削除</button-->
                  <!--input type="text" class="is-sm" placeholder="名前で検索"-->
                  <a href="https://docs.google.com/spreadsheets/d/1eRhkmnmfrPMJXlfbvIONfu_7AYHwt024JP_qCCbxGbE/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn-s is-square is-yellow">詳細<span>ドキュメントに移動</span><img src="/img/icon-jump.svg"></a>
                </div>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <!--th>LINE識別番号</th-->
                      <th>児童氏名</th>
                      <th>生年月日</th>
                      <th>年齢</th>
                      <th>アレルギー</th>
                      <th>&nbsp;</th>
                    </tr>
                    <% if (i == 0) { %> 
                      <% for (var x = 0; x < NewMembers.length; x++) { %>
                        <tr>
                          <td>&nbsp;</td>
                          <td><%=NewMembers[i].miraikuid %></td>
                          <td><%=NewMembers[i].name %></td>
                          <td><%=NewMembers[i].birthday %></td>
                          <td><%=NewMembers[i].age %></td>
                          <td><%=NewMembers[i].allergy %></td>
                          <td><button type="button" class="is-red btn_disable_member" value="<%=`${NewMembers[i].memberid}_${NewMembers[i].name}`%>"> 削除 </button></td>
                        </tr>
                      <% }%>
                    <% } %>
                    
                    <% for (var x = 0; x < Year10[i].members.length; x++) { %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%=Year10[i].members[x].miraikuid %></td>
                        <td><%=Year10[i].members[x].name %></td>
                        <td><%=Year10[i].members[x].birthday %></td>
                        <td><%=Year10[i].members[x].age %></td>
                        <td><%=Year10[i].members[x].allergy %></td>
                        <td><button type="button" class="is-red btn_disable_member" value="<%=`${Year10[i].members[x].memberid}_${Year10[i].members[x].name}`%>"> 削除 </button></td>
                      </tr>
                    <% }%>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      <% } %>
      </div>
    </section>
  </main>

  <%- include ("../../partials/footer.ejs") %>

</body>
</html>
